body {color: black; background: white;margin:0px auto;}

h2, h3 {background: white; color: black;}

h1{background: white; color: black;border-bottom: 1px solid gray;text-align:center;}
 
 /*make the buttons disappear */
.button{
display : none;
}
/* undisplay the footer */
.footctrl{
display : none;
}
/* adjust the margin */
#resumemain {width:1000px;font-size: 12.5pt;}